<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lol</title>
    </head>
    <body>
        <form method="post">
            <input type="text" name="user" placeholder="username" required style="width: 700px; height: 100px; font-size: 64px;">
            <input type="password" name="passw" placeholder="password" required style="width: 700px; height: 100px; font-size: 64px; float: right;">
            <div style="display: flex; flex-flow: row; justify-content: center;"><input type="submit" value="Submit"></div>
        </form>
    </body>
</html>